.container {
    width: 1240px;
    margin: 0px auto 0;

    .order {
        width: 962px;
        margin: 0 auto 30px;
        min-height: 500px;

        .shopping {
            width: 962px;
            margin: 0 auto;
            font-size: 14px;

            .shop-a {
                width: 962px;
                height: 70px;
                border-bottom: solid 1px #414141;

                .shop-left {
                    width: 400px;
                    height: 70px;
                    line-height: 100px;
                    float: left;
                    font-size: 22px;
                    color: #414141;
                }

                .shop-right {
                    width: 90px;
                    height: 70px;
                    line-height: 100px;
                    display: block;
                    color: #414141;
                    font-size: 14px;
                    float: right;
                    text-align: right;
                    background: url(../../images/cart01.png) no-repeat scroll 0 42px;
                }
            }

            .shopping_cart {
                width: 962px;
                border-collapse: collapse;
                font-size: 16px;
                color: #414141;
                border-bottom: solid 1px #414141;
                text-align: center;

                tbody {
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;

                    .shopping_cart_title {
                        border-bottom: solid 1px #414141;
                        height: 30px;
                        line-height: 30px;

                        td {
                            display: table-cell;
                            vertical-align: inherit;
                        }
                    }

                    .wg_cart_list {
                       
                        .shopping_cart_img {
                            height: 100px;
                            display: block;
                            float: left;
                            margin: 10px 15px 10px 10px;
                        }

                        td {
                            display: table-cell;
                            vertical-align: inherit;
                            #sub,#add{
                                height: 15px;
                                width: 15px;
                                border-radius: 50%;
                                border: 1px solid #333;
                            }
                            .btn{
                                width: 68px;
                                background: #fff;
                                border: 1px solid #333;
                                margin-left: 3px;
                                margin-right: 3px;
                            }

                            input.shopping_cart_sl {
                                display: inline-block;
                                width: 68px;
                                height: 20px;
                                border: 1px solid #333;
                                box-sizing: border-box;
                                text-align: center;
                            }

                            .shopping_cart_name {
                                display: table-cell;
                                text-align: left;
                                height: 121px;
                                vertical-align: middle;

                                label {
                                    cursor: default;
                                }
                            }
                        }
                    }

                }
            }

            .sel_all {
                float: left;
                position: relative;
                margin-top: 25px;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                color: #414141;
                padding-left: 15px;

                .sel_all input {
                    position: absolute;
                    margin: 0;
                }

                .sel_all label {
                    display: inline-block;
                    height: 12px;
                    line-height: 12px;
                    cursor: pointer;
                    position: absolute;
                    width: 100px;
                    left: 35px;
                }
            }

            .cart_total {
                height: 40px;
                line-height: 50px;
                font-size: 20px;
                color: #414141;
                text-align: left;
                width: 280px;
                float: right;
                position: relative;
                margin-top: 15px;
                

                font {
                    font-family: Adobe Caslon Pro;
                }

                .cart_button1 {
                    width: 110px;
                    height: 40px;
                    display: block;
                    position: absolute;
                    top: 5px;
                    right: 0;
                    -webkit-appearance: none;
                    background: #c71f2c;
                    outline: none;
                    border: none;
                    text-align: center;
                    line-height: 38px;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }

        .help-right {
            width: 100%;
            font-size: 12px;

            p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            >.help-nav {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
}